body{
    font-family: 'Roboto', sans-serif;
    background-color:lightgrey;
    text-align:center;
}

ul {
    list-style: none;
    text-align: center;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
}

h1 {
    color: rgb(17, 179, 179);
    text-decoration: underline ;
    font-weight: bolder;
    font-size:50px;
}
h2 {
    color: rgb(17, 179, 179);
}
button {
    margin-left:50px;
    background-color: lightgreen;
    color:white;
    border-radius: 5px;
}
button:hover{
    cursor:pointer;
    background-color: rgb(85, 138, 85);
}
#delButton img,#delButton
{
    background-color: rgb(241, 125, 125);
    height:20px;
    width:20px;
    color:white;
    border-radius: 5px;
    display: inline-block;
    margin-right: 2px;


}
#delButton
{
    margin-left:50px;
}

li
{
    margin-top:6px;
}

#delButton:hover
{
    cursor:pointer;
    
}
input {
    border-radius:10px;
    margin-left:20px;
}
#content
{
    
    margin-top:20px; 
    margin-left:auto;
    margin-right:auto;
    height:80%;
    width:80%;
    background-color:rgba(14, 232, 240, 0.144);
    border:1px solid black;
    border-color:black;

}
#content li {
    padding-right:20px;
    border-bottom: 1.5px solid black;
}
footer {
    position:absolute;
    bottom:0px;
    right:0;
    padding-right: 20px;
    padding-bottom: 10px;
}
#Tasklist ul {
    width:100%;
}