*,.content{
    font-family: 'Roboto', sans-serif;
}
.header{
    padding:25px;
    display:flex;
    justify-content: center;
}
button{
    padding:20px;
    margin:10px;
    border-style: none;
    background-color:cyan;
    
}

button:hover{
    cursor:pointer;
    background-color:brown;
}

.content{
    padding:20px;
}

.content li{
    background-color:brown;
    padding:15px;
    margin-bottom: 1px;
    color:white;
}

.content li:hover{
    cursor:pointer;
    background-color: rgb(88, 28, 28);
}