
body,html {

    height:100%;
    font-family: 'Roboto', sans-serif;
    color:black;

    background-size: cover;
    background-repeat: no-repeat;
}
#head_image {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:340px;
    z-index: 100;
}



#detailImage {
    margin-top:-10px;
}

#details {
    /*background-color: red;*/
    margin-top:-10px;
}

#menu {
    padding-top:10px;
    width:450px;
    height:auto;
    font-size:15px;
    columns:2;
    column-gap: 150px;
}

#menu li {
    display:block;
    position:relative;
    padding-bottom:45px;
    margin-top:auto;
    height:10px;
    border-bottom: 2px solid black;   
}

#menu :hover {
    background-color:rgba(128, 128, 128, 0.219);
    cursor: pointer;
    
}

#menu li :hover{
    background-color:rgba(128, 128, 128, 0);
}

#image {
    padding-left:20px;
    position: relative;
    top:15px;
    width:30px;
    height:30px;
    margin-right: 20px;
    padding-left:10px;
    font-weight: bold;
}

#details li {
    margin-top:15px;
}

ul {
    list-style-type: none;
}

.footer {
    clear:both;
    position:fixed;
  
    display:inline-block;
    width:100%;
    height:25px;
    background-color:rgba(199, 194, 194, 0.5);
    bottom:0px;

}

#footer_image {
    height:17px;
    margin-top:3px;
    float:right;
    margin-right: 10px;
}

h1 {
    font-family: 'Bree Serif', serif;

    display:table;
    background-color: rgba(255, 255, 255, 0.548);
    border: 2px solid rgba(255, 255, 255, 0);   
    box-shadow: 0 0 8px 6px rgb(199, 197, 197);

    font-variant-caps: all-small-caps;
    font-size:50px;
    font-style: normal;
    margin-bottom: 20px;
    font-style:bold;
    height:0px;
    align-items: center;
    
}

h1 span {

    background-color:navy;
}

a {
    color: navy;
}

.container{
    display:flex;
    justify-content: space-around;
}

@media only screen and (max-width: 900px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    #background2{
        margin-top:20px;
    }
  }
.background {
 
    height:auto;
    margin-top:-170px;
    background-color:rgba(199, 194, 194, 0.5);
    box-shadow: 0 0 6px 4px rgb(199, 197, 197);
    padding:20px;
    padding-top:0px;
}
#background, #background2, #returnButton {
    animation:fadeIn 1s;

}
@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#background2 {
    padding:20px;
}


#playerList {
  
    border: 2px solid rgba(255, 255, 255, 0);   
    columns: 2;
}

#playerList li {
    margin-top:5px;
}

#playerList p1 {
    font-weight: bold;
}

#emptySpace {
    height:360px;
}

#returnButton {
    position:absolute;
    left:30px;
    top:20px;
    width:auto;
    height:auto;
    z-index: 30000;
}
.button {
    padding: 15px 25px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(219, 43, 43);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #b1b3b1;
  }
  
  .button:hover {background-color: #e75555}
  
  .button:active {
    background-color: #e75555;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
