
    /* Element selector */
    div{
        background-color:aqua;
    }

    /* ID selector */
    
    #subtitle{
        font-size: 2rem;
    }

    /* Klassenselektor */

    .text{
        color:red;
    }
    
    #text p{
        background-color:violet;
    }
