*{
    font-feature-settings: "liga", "kern";
    padding-right: 20%;
}
body
{
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
    background: grey;
    
}
.listreiter
{
    color:white;

    background-color: darkred;    
    padding:5px;
    text-align: justify;
    text-justify: inter-word; 
    
}
.listreiter ul
{
    display:flex;
    justify-content:space-around;
    padding:7px;
    list-style-type: none;

}
.imagecontainer
{
    
    background-color: #BB131A;
    height:80px;
    color:white;
}
.imagecontainer img
{
    display:inline-block;
    height:100px;
    width:200px;
    padding-right: 10px;
    padding-top:-3px;
}
.imagecontainer a
{
    font-size: 30px;
    position: relative;
    top:-40px;
    padding-left: 35px;
    
}
.colorspace
{
    background-color: #D32824;
    height:20px;
}

.vrlbgnav ul
{
    display: flex;
    justify-content: space-around;
    background-color:#790000;
    text-align:center;
    padding:5px;
}

.klingel
{
    color:  white;
    height:20px;
    width:20px;
}

.vrlbgnav li
{
    padding:5px;
    color:white;
    list-style-type: none;
    background-color: #790000;
    display:inline-block;

}
.largeimage img
{
    height:450px;
    width:100%;
    position:relative;
    z-index:10;
}
.intertextcontainer
{
    position:relative;
    z-index: 300;
    margin-left:auto;
    margin-right:auto;  
    background-color:white;
    width: 70%;
    height:700px;
    margin-top:-700px;
    box-shadow: 0 0 6px 4px rgb(199, 197, 197);

}

h1,h2,h3
{
    padding-left:3%;
    padding-top:3%;
    padding-right:3%;
}

h4,h5
{
    padding-left:12%;
    padding-right:3%;
    padding-top: 3%;
}

.intertextcontainer h1
{
    color:darkgrey;
    font-weight: bolder;
}

.intertextcontainer h2
{    
    font-weight: bold;
    white-space: nowrap;
    font-size: 33px;
}

.intertextcontainer h3
{
    margin-right:5%;
   color:black;
}

.intertextcontainer h4
{
    padding-top:7%;
    font-weight:bold;
    font-size:20px;
    color: black;
}

.textcontainerbackground
{    
    margin-top:-1%;
    width: 100%;
    height:600px;
    background-color: white;
}
footer
{ 
    position: relative;

}
footer ul
{
    color:white;
    font-weight: bold;
    display:flex;
    justify-content:space-around;
    padding:7px;
    list-style-type: none;
    background-color: rgb(56, 56, 153);
}
.footerline1
{
    height:15px;
    background-color: #BB131A;
}
.footerline2
{
    background-color: darkred;
    height:10px;

}


@media (min-width: 1000px)
{
    body {
    width:80vw;
    margin-left:10%;
    }
}
@media (max-width:1100px)
{
    .intertextcontainer h2
    {
        font-size: 20px;
    }

}